body {
  background-color: ghostwhite;
}

.to-do-list {
  width: 250px;
  background-color: white;
  margin: 50px;
}

.tasks {
  display: flex;
  justify-content: space-between;
}

.what-to-do {
  display: flex;
  justify-content: space-between;
}

.recycle-icon {
  width: 20px;
}